# ==========================================
# Godot 4 - Import & Cache
# ==========================================
.godot/
.import/

# ==========================================
# File d'esportazione e build
# ==========================================
*.apk
*.aab
*.aof
*.m3u
*.ipa
*.exe
*.xyz
*.pck
*.zip

# ==========================================
# Configurazione Utente & Editor
# ==========================================
*.tmp

# ==========================================
# Mono / C#
# ==========================================
.mono/
data_*/
mono_crash.*.json
*.csproj
*.sln
*.transforms
.vs/
.vscode/
.idea/

# ==========================================
# Sistema operativo
# ==========================================
.DS_Store
Thumbs.db
desktop.ini

# ==========================================
# File temporanei editor
# ==========================================
*~
*.swp
*.swo